:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.main-container {
    padding: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 40px;
}

.stepper {
    width: 100%;
}

.trainer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.grid {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.selected-team-grid {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: row;
    padding: 40px;
    border: 1px solid #b6b8b6;
    border-radius: 10px;
}

.no-pokemon-selected {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    color: #b6b8b6;
}

.selected-pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.forms-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.moves-container {
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 5px;
   overflow-y: auto;
   height: 200px;
}

.dialog-buttons-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.pokemon-card-content {

    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.pokemon-card-types {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.pokemon-card-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-card-stats p {
    margin: 0;
    padding:5px;
    font-size: 12px;
    font-weight: 500;
    color: #383838;
}
